In [ ]:
#期中考
result = input()
result = result.split(" ")
sum_all = (int(result[1]) + int(result[2]) + int(result[3]))/1
avg = sum_all/3
name = result[0]

print("{} total: {} average: {}".format(name,sum_all,avg))

In [8]:
#燒烤店
name = input()
lastname = name.split(" ")
payment = int(input())*1.1
payment = round(payment) 
if payment//200 == 0:
    print("{} needs to pay {} dollars".format(lastname[1],payment))
else:
    payment = payment - ((payment//200)*10)
    print("{} needs to pay {} dollars".format(lastname[1],payment))

p o
30
p o needs to pay 33 dollars

In [ ]:
#DNA code
DNA = input().split(" ")
DNA = "-".join(DNA).replace("T","U")
print(DNA)

In [ ]:
from pandas import DataFrame 
players=['Jordan Bell','Klay Thompson','Kevin Durant','JaVale McGee','Draymond Green','Andre Iguodala','David West',\

'Shaun Livingston','Quinn Cook','Kevon Looney','Nick Young','Damian Jones','Stephen Curry','Patrick McCaw',\

'Zaza Pachulia']


DataFrame.sample(players,replace = True, 3)
#without replace

In [1]:
import random
players=['Jordan Bell','Klay Thompson','Kevin Durant','JaVale McGee','Draymond Green','Andre Iguodala','David West',\

'Shaun Livingston','Quinn Cook','Kevon Looney','Nick Young','Damian Jones','Stephen Curry','Patrick McCaw',\

'Zaza Pachulia']
star = set(['Kevin Durant','Draymond Green','Stephen Curry','Klay Thompson'])
result = ["提早放假" ,"止步西決","勇士亡朝","勇士王朝"]
seed = int(input())
#seed use when you want to interact with user.
random.seed(seed)
abc1 = random.sample(players,5)
abc = set(abc1)

print(abc1)
if "Patrick McCaw" in abc or len(star&abc) == 0:
    print("一輪遊")
else:
    count = len(star&abc)-1
    print(result[count])
    
#858
#656

858
['Quinn Cook', 'Zaza Pachulia', 'Klay Thompson', 'Andre Iguodala', 'Kevin Durant']
止步西決

In [1]:
clean_price = 1180
par = 1000
accured_interest = ((par * 0.076) / 2) * (4/6)
invoice_price = clean_price + accured_interest
print("The invoice price is %.3f" %invoice_price)

The invoice price is 1205.333